<% if @job.budget.present? %>
<div>
	<table class="table table-bordered table-condensed">
		<th class="highlight" colspan="2">Budget Information</th>
		<tr>
			<td width="20%">Budget</td>
			<td><%= @job.budget %></td>
		</tr>
		<tr>
			<td width="20%">Expense</td>
			<td><%= @job.total_cost %></td>
		</tr>
		<tr>
			<td width="20%">Balance</td>
			<td><%= @job.remaining_budget %></td>
		</tr>
	</table>
</div>
<% end %>