<% if @job.budget.present? %>
<div class="pull-right">
	<table class="table table-bordered table-condensed span2 shadow" cellpadding="5">
		<th class="header" colspan="2">Budget Information</th>
		<tr>
			<td><b>Budget</b></td>
			<td><%= @job.budget %></td>
		</tr>
		<tr>
			<td><b>Expense</b></td>
			<td><%= @job.total %></td>
		</tr>
		<th class="highlight" colspan="2"></th>
		<tr>
			<td><b>Balance</b></td>
			<td><%= @job.remaining_budget %></td>
		</tr>
	</table>
</div>
<% end %>