<table class="table table-bordered table-condensed" cellpadding="5">
  <tr>
    <td class="highlight">Earnings Year To Date</td>
    <td class="highlight">Expenses Year To Date</td>
    <td class="highlight">Gross Profit</td>
    <td class="highlight">Average Dollar Profit Per Job</td>
  </tr>
  <tr>
    <td><%= @company.income %></td>
    <td><%= @company.expense %></td>
    <td><%= @company.gross_profit %></td>
    <td><%= @company.avg_profit_per_job %></td>
  </tr>
</table>
