<table class="table table-bordered table-condensed">
  <th class="highlight" colspan="3">Payroll Info</th>
  <tr>
    <td>Earnings Year To Date</td>
    <td>Total Taxes Paid</td>
    <td>Tax Expenses</td>
  </tr>
  <tr>
    <td><%= @user.earnings_ytd %></td>
    <td>Feature Unavailable</td>
    <td>Feature Unavailable</td>
  </tr>
</table>
</br>