<table class="table table-bordered table-condensed">
  <th colspan="3">Payroll Info</th>
  <tr>
    <td class="highlight">Earnings Year To Date</td>
    <td class="highlight">Total Taxes Paid</td>
    <td class="highlight">Tax Expenses</td>
  </tr>
  <tr>
    <td><%= @user.earnings_ytd %></td>
    <td>Feature Unavailable</td>
    <td>Feature Unavailable</td>
  </tr>
</table>
</br>