<% provide(:title, "Account Page For #{@user.name}") %>
<table class="table table-bordered table-condensed shadow">
  <th class="header" colspan="3">Account Page For <%= current_user.name %></th>
  <tr>
    <td>
      <%= render 'users/accountinfo' %>
      <%= render 'users/showtimeclocks' %>
    </td>
  </tr>
</table>







       
















