<% provide(:title, "Account For #{@user.name}") %>
<h2> Account Page for <%= current_user.name %> </h2>
<%= render 'users/accountinfo' %>
<%= render 'users/showtimeclocks' %>







       
















