<table class="table table-bordered table-condensed">
	<tr>
		<td class="highlight" width="20%">Name</td>
		<td><%= @customer.name %></td>
	</tr>
	<tr>
		<td class="highlight" width="20%">Email</td>
		<td><%= @customer.email %></td>
	</tr>
	<tr>
		<td class="highlight" width="20%">Address</td>
		<td><%= @customer.full_address %></td>
	</tr>
	<tr>
		<td class="highlight" width="20%">Phone Number</td>
		<td><%= @customer.phone %></td>
	</tr>
</table>