<table class="table table-bordered table-condensed span8 shadow" cellpadding="5">
  <th class="header">Customer Information</th>
  <tr>
    <td>
      <%= render 'customers/customerinfo' %>
    </td>
  </tr>
  <th class="header">Bid Information</th>
  <tr>
    <td>
      <%= render 'customers/bidinfo' %>
    </td>
  </tr>
  <th class="header">Job Information</th>
  <tr>
    <td>     
      <%= render 'customers/jobinfo' %>
    </td>
  </tr>
</table>
			
				
				
				