  <% if current_user.admin? && current_user.company.present? %>
  <table class="table table-bordered table-condensed round">
    <th class="highlight" colspan="4">Company Info</th>
  <tr>
    <td>Earnings Year To Date</td>
    <td>Expenses Year To Date</td>
    <td>Gross Profit</td>
    <td>Average Dollar Profit Per Job</td>
  </tr>
  <tr>
    <td><%= @company.income %></td>
    <td><%= @company.expense %></td>
    <td><%= @company.gross_profit %></td>
    <td><%= @company.avg_profit_per_job %></td>
  </tr>
  <% end %>
</table>
</br>

