/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Container
#logo {
  margin:0 auto;
  float:none; 
  h1 {
    font-size: 500%;
  }
}

#main_bar {
  padding-top: 5px;
  margin:0 auto;
  float:none; 
}

#main {
  margin:0 auto;
  float:none; 
  padding-top: 10px;
}

//body
body { 
  padding-top: 20px;
}

// Footer
footer {
  color: #000;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#666;
  padding: 10px;
}

footer a {
  color: #333;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
  margin-left: 20%;
}

footer ul {
  margin-right: 20%;
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}