/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Container
#main {
  margin: 0 auto;
  padding-top: 20px;
  float: none; 
  min-height: 100% !important;
  height: 100% !important;
  h1 {
    font-size: 500%;
  }
}

.alert {
  position: relative;
  width: auto;
}

#logo {
  width: 360px;
}

#sublogo {
  padding-top:10px;
}

#main_bar {
  margin:0 auto;
  float:none; 
}

#main_navbar {
  margin-top: 65px; 
}

body { 
  padding-top: 5px;
}

#header-signin-outer {
  margin-top: 20px;
  height: 40px;
  width: 500px;
  position: relative;
  float: right;
}

#header-signin-inner {
  padding-left: 13px;
  height: 30px;
}

#header-search-outer {
  height: 20px;
  position: relative;
  float: right;
}

#header-search-inner {
  height: 20px;
}


//footer
footer {
  margin-top:20px;
  border-top: 1px solid #999;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
  margin-left: 20px;
}

footer ul {
  padding-right: 20px;
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

