// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border1 {
  border-width: 2px;
  border-style: dashed;
  border-color: #999;
  border-radius: 5px;
  margin: 10px;
}

#home_sign_in {
padding: 10px;
}

#home_table {
width: 65%;
}

.home-div {
  margin-top: 10px;
}

.pop-text-outer {
  width: 150px;
  height: 90px;
  position:relative
}
.pop-text-inner {
  margin-right: 5px;
  margin-left: 5px;
  float:left !important;
  position:absolute;
  top: 20%; 
  height: auto; 
}
.pop-img-outer {
  width: 90px;
  height: 90px;
  position:relative
}
.pop-img-inner {
  position:absolute; 
  margin-top: 5px;
  margin-left: 5px;
  height: auto; 
}