// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border1 {
  border-width: 2px;
  border-style: dashed;
  border-color: #999;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.centered-image {
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}

#home_sign_in {
margin-top: 10px;
padding: 10px;
}

#home_table {
  width: auto;
}

.home-div {
  margin-top: 10px;
}

.home-img-outer {
  height: 292px;
  position:relative
}
.home-img-inner {
  position:absolute; 
}

.pop-text-outer {
  width: 150px;
  height: 90px;
  position:relative
}
.pop-text-inner {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: auto;
  margin-left: auto;
  float:left !important;
  position:absolute;
  top: 20%; 
  height: auto; 
}
.pop-img-outer {
  width: 90px;
  height: 90px;
  position:relative
}
.pop-img-inner {
  position:absolute; 
  margin-top: 5px;
  margin-left: 5px;
  height: auto; 
}