// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border1 {
  border-width: 2px;
  border-style: dashed;
  border-color: #999;
  border-radius: 5px;
  -moz-border-radius:25px; /* Firefox 3.6 and earlier */
  padding: 10px;
}

#sign_in {
  
}