<footer class="pull-right span10">
  <small>
    <a href="#">Molitum</a>
    by Cody Tanner
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact",contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About Us", about_path %></li>
    </ul>
  </nav>
</footer>