<footer class="footer">
  <small>
    Created by
    <a href="http://www.molitum.com">Molitum</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://www.lowes.com/">Lowes</a></li>
      <li><a href="http://www.homedepot.com/">Home Depot</a></li>
    </ul>
  </nav>
</footer>