<footer class="footer">
  <small>
    <a href="#">Grindstone Properties</a>
    by Cody Tanner
  </small>
  <nav>
    <ul>
      <li><a href="http://www.lowes.com/">Lowes</a></li>
      <li><a href="http://www.homedepot.com/">Home Depot</a></li>
    </ul>
  </nav>
</footer>