<div id="logo" class="pull-left">
<h1>Molitum</h1>
<div id="sublogo"><h6>Useful Solutions for General Contractors</h6></div>
</div>
<% unless user_signed_in? %>
  <div id="header-signin-outer">
    <div id="header-signin-inner" class="blue-gradient border round">
      <form action="/users/sign_in" class="form-inline" method="post">
        <label class="control-label" for="user_email">Username</label>
        <input class="input-small" id="user_email" name="user[email]" size="50" type="email" />
        <label class="control-label" for="user_password">Password</label>
        <input class="input-small" id="user_password" name="user[password]" size="50" type="password" />
        <input name="user[remember_me]" type="hidden" value="0" />
        <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" />
        <label class="control-label" for="user_remember_me">Remember me</label>
        <input class="btn" name="commit" type="submit" value="Sign in" />
      </form>
    </div>
  </div>
<% end %>
<div id="main_navbar" class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-left">
        <li class="brand"><%= yield(:title) %></a></li>
        <li class="divider-vertical"></li>
      </ul>
      <ul class="nav pull-right">
        <li>  
          <div id="header-search-outer">
              <form class="form-search">
                <input type="text" class="input-medium search-query">
                <button type="submit" class="btn">Search</button>
              </form>
          </div>
        </li>
        <% if user_signed_in? %>
          <li class="divider-vertical"></li>
          <li><%= link_to(edit_user_path(current_user)) do %><span><i class="icon-cog"></i>Account Settings</span><% end %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>