<h1>Molitum</h1>
</br>
<h6>Useful Solutions for General Contractors</h6>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-left">
        <li class="brand"><%= yield(:title) %></a></li>
        <li class="divider-vertical"></li>
      </ul>
      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <% if user_signed_in? %>
          <li><%= link_to(edit_user_path(current_user)) do %><span><i class="icon-cog"></i>Acount Settings</span><% end %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>