<div class="span2 round border shadow">
  <ul class="nav nav-list">
    <li class="nav-header">Quick Links</li>
    <li><%= render 'quick_links/quicklinksmodal' %></li>
    <li class="nav-header">Account Links</li>
    <%= render 'time_clocks/timeclockmodal' %>
    <% if current_user.admin? && current_user.company.nil? %>
      <%= render 'companies/companymodal' %>
    <% end %>
  </ul>
</br>
</div>
