<div class="span2 round border shadow">
  <% if user_signed_in? %> 
  <ul class="nav nav-list">
    <li class="nav-header">Quick Links</li>
    <li><%= render 'quick_links/quicklinksmodal' %></li>
    <li class="nav-header">Account Links</li>
    <%= render 'time_clocks/timeclockmodal' %>
    <% if current_user.company.nil? %>
      <li><a href="/companies/new" ><i class="icon-map-marker"></i>Add Company</a></li>
    <% end %>
  </ul>
</div>
<% else %>
  <h2>Welcome</h2>
    <h6>You're on the right track</h6>
    </br>
    <h3> header </h3>
    <p>The information you are entering here is required for you to manage your account. You will login using your <strong>Username</strong> and your password.</p>

    <h3> Another header </h3>
    <p>In step2 you don't have to enter the information. But it is helpful for us to help determine who you are, and what your needs are.</p>
  </div>
<% end %>
</br>