<% if user_signed_in? %>
  <div id="quick_links" class="span2 round border shadow">
    <%= render 'quick_links/quicklinksmodal' %>
    <h6>Account Links</h6>
    <%= render 'time_clocks/timeclockmodal' %>
    <% if current_user.admin? && current_user.company.nil? %>
      <%= render 'companies/companymodal' %>
    <% end %>
  </div>
<% else %>
<div id="quick_links" class="span2 round border shadow">
  <h6>Why Us?</h6>
  <p>We have found that most people don't need a full blown software suite to manage their business. Therefore most of the extra features just end up being wasted. The advantage of an online application is that it is everything you need, and nothing you don't. Simple forms keeps your paperwork simple. In addition, since they are online, you can access them from anywhere you need to.</p>
  <%= link_to "Sign up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</div>
<% end %>