<div class="span2 round border shadow">
  <% if user_signed_in? %> 
  <ul class="nav nav-list">
    <li class="nav-header">Quick Links</li>
    <li><%= render 'quick_links/quicklinksmodal' %></li>
    <li class="nav-header">Account Links</li>
    <%= render 'time_clocks/timeclockmodal' %>
    <% if current_user.company.nil? %>
      <li><a href="/companies/new" ><i class="icon-map-marker"></i>Add Company</a></li>
    <% end %>
  </ul>
<% else %>
  <h2>Welcome</h2>
    <h6>You're on the right track</h6>
    </br>
    <h3> Why Us? </h3>
    <p>Software suites are bulky and hard to manage. It is with that in mind that we provide the <strong>meat and potatos</strong> of what general contractors really need. We <strong>simplify</strong> your business by giving you all the tools you need for paperwork, so you can spend more time doing what's important.</p>

    <h3> Start Today </h3>
    <p>Click 'Sign up Now!' to start the road to a simpler life.</p>
    <div class="center-text"><%= link_to "Sign up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %></div>
<% end %>
</div>
</br>