<div class="span2 round border shadow">
  <ul class="nav nav-list">
    <% if user_signed_in? %>
      <li class="nav-header">Quick Links</li>
        <li><%= render 'quick_links/quicklinksmodal' %></li>
      <li class="nav-header">Account Links</li>
        <%= render 'time_clocks/timeclockmodal' %>
        <% if current_user.admin? && current_user.company.nil? %>
          <%= render 'companies/companymodal' %>
        <% end %>
      <% else %>
        <li class="nav-header">Why Us?</li>
        <p>Most people don't need a full blown software suite to manage their business. It is with this in mind that we provide the "meat and potatos" of what general contractors really need. Creating an account with us will make your business simpler so you can spend more time doing the important stuff.</p>
        <%= link_to "Sign up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
      <% end %>
</div>
